.preview {
  background: rgb(231, 231, 231);
  padding: 10px 0px;
}

.preview.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-gap: 50px 100px;
  /* justify-content: center;
  align-items: center;
  text-align: center; */
}

.preview.photobox {
  /* width: 300px; */
  /* height: 300px; */
  overflow: hidden;
  /* display: flex; */
  align-self: center;
}

.preview.photobox img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.preview.textbox {
  display: grid;
  /* grid-template-rows: 150px 1fr; */
  gap: 5px;
}

.preview.textbox h4 {
  margin-top: auto;
  /* max-height: 100px;
  max-width: 300px; */
  text-align: center;
}

.preview.social_network {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-auto-rows: 50px;
  grid-gap: 5px;
}

.preview.social_network a {
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-align: left;
  max-height: 40px;
  /* justify-content: center;
  align-items: center;
  text-align: center; */
}

.nav {
  display: flex;
  justify-content: center;
  background: rgb(231, 231, 231);
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  position: sticky;
  top: 0;
  z-index: 99;
}
.nav a {
  margin: 5px 5px;
}

.nav_margin {
  margin-top: 45px;
}

.wrapper {
  width: 250px;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wrapper img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.wrapper p {
  padding: 10px;
  border-radius: 12px;
  border: 2px solid #515151;
  margin-bottom: 0;
}
.wrapper.small {
  width: 150px;
  height: 150px;
}
.wrapper.verysmall {
  width: 40px;
  height: 40px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 40px 40px;
}

.grid.git {
  grid-template-columns: 1fr 110px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-gap: 100px 10px;
}

.skills-grid {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: auto;
  grid-gap: 5px 20px;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.skills-grid h6 {
  font-size: 18px;
}

.text_boxes {
  margin-top: 20px;
}


.futter{
  width: auto;
  display: flex;
  justify-content: center;
  background: rgb(12, 12, 12);
  width: 100%;
  height: 50px;
  bottom: 0;
}

.futter p {
  text-align: center;
  color: rgb(255, 253, 251);
  text-decoration: none;
}

.futter a {
  text-align: center;
  color: rgb(255, 253, 251);
  text-decoration: underline, white;
}

.black_url a {
  text-decoration: underline;
    color: rgb(0, 0, 0);
}

* a:hover {
  color: #0FA0CE;
  }


